$primaryColor: #090961;
$primaryColorLight: #472ba0;
$primaryColorDark: #090961;
$secondaryColor: #82a027;
$secondaryColorLight: #b4d158;
$secondaryColorDark: #527100;
$whiteColor: rgb(242, 242, 242);
$blackColor: #0c0c0c;
$dangerColor: #d12640;
